tei_all_auth.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>TEI added authenticationStmt </title>
        <author>Georg Vogeler</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <p>TEI material can be licensed differently depending on the use you intend to make of it.
            Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
            generally appropriate for usages which treat TEI content as data or documentation. The
            BSD-2 licence is generally appropriate for usage of TEI content in a software
            environment. For further information or clarification, please contact the TEI Consortium
            (info@tei-c.org).</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Written from scratch.</p>
      </sourceDesc>
    </fileDesc>
    <encodingDesc>
      <appInfo>
        <application ident="RomaJS" version="1.3.0" when="2025-09-13T17:25:45.153Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc>
        </application>
      </appInfo>
    </encodingDesc>
  </teiHeader>
  <text>
    <body>
      <head>TEI Documentality</head>
      <p>This TEI customization describes a schema that adds to the <gi>teiHeader</gi> a metadata scheme describing the text as the result of an intention to create a social reality.</p>
      <schemaSpec ident="tei_all_auth" start="TEI teiCorpus" prefix="auth_" targetLang="en"
        docLang="en">
        <moduleRef n="01" key="tei"/>
        <moduleRef n="02" key="header"/>
        <moduleRef n="03" key="core"/>
        <moduleRef n="04" key="textstructure"/>
        <moduleRef n="05" key="gaiji"/>
        <moduleRef n="06" key="verse"/>
        <moduleRef n="07" key="drama"/>
        <moduleRef n="08" key="spoken"/>
        <moduleRef n="09" key="cmc"/>
        <moduleRef n="18" key="analysis"/>
        <moduleRef n="10" key="dictionaries"/>
        <moduleRef n="11" key="msdescription"/>
        <moduleRef n="12" key="transcr"/>
        <moduleRef n="13" key="textcrit"/>
        <moduleRef n="14" key="namesdates"/>
        <moduleRef n="15" key="figures"/>
        <moduleRef n="16" key="corpus"/>
        <moduleRef n="17" key="linking"/>
        <moduleRef n="19" key="iso-fs"/>
        <moduleRef n="20" key="nets"/>
        <moduleRef n="22" key="certainty"/>
        <moduleRef n="23" key="tagdocs"/>
        <elementSpec ident="fileDesc" mode="change">
          <content>
            <sequence maxOccurs="1" minOccurs="1">
              <sequence maxOccurs="1" minOccurs="1">
                <elementRef key="titleStmt"/>
                <elementRef key="editionStmt"/>
                <elementRef key="extent"/>
                <elementRef key="publicationStmt"/>
                <elementRef key="authenticationStmt"/>
                <elementRef key="seriesStmt"/>
                <elementRef key="notesStmt"/>
              </sequence>
              <elementRef key="sourceDesc"/>
            </sequence>
          </content>
        </elementSpec>
        <elementSpec ident="authenDesc" ns="http://www.cei.lmu.de/tei/tei_auth" mode="add"
          module="header">
          <desc versionDate="2025-09-13" xml:lang="en">The element <gi>authenDesc</gi> describes the method by which the document is validates / authenticated.</desc>
          <classes>
            <memberOf key="att.global"/>
          </classes>
          <content>
            <alternate>
              <sequence minOccurs="1"
                maxOccurs="unbounded">
                <classRef key="model.authDescPart"
                  minOccurs="0" maxOccurs="unbounded"/>
              </sequence>
              <classRef key="model.pLike" minOccurs="1"
                maxOccurs="unbounded"/>
            </alternate>
          </content>
        </elementSpec>
        <elementSpec ident="legalActor" ns="http://www.cei.lmu.de/tei/tei_auth" mode="add"
          module="header">
          <desc versionDate="2025-09-13" xml:lang="en"></desc>
          <classes>
            <memberOf key="att.global"/>
          </classes>
        </elementSpec>
        <elementSpec ident="issued" ns="http://www.cei.lmu.de/tei/tei_auth" mode="add"
          module="header">
          <desc versionDate="2025-09-13" xml:lang="en"></desc>
          <classes>
            <memberOf key="att.global"/>
          </classes>
        </elementSpec>
        <elementSpec ident="authenticationStmt" ns="http://www.cei.lmu.de/tei/tei_auth" mode="add"
          module="header">
          <gloss versionDate="2025-09-13" xml:lang="en">file description</gloss>
          <desc versionDate="2025-09-13" xml:lang="en"><gi>authenticationStmt</gi> describes the status of the text
            as as a document creating social reality through a formalized act of inscription.</desc>
          <classes>
            <memberOf key="att.global"/>
          </classes>
          <content>
            <sequence maxOccurs="1" minOccurs="1">
              <sequence maxOccurs="1" minOccurs="1">
                <elementRef key="authDesc"/>
                <elementRef key="legalActor"/>
                <elementRef key="issued"/>
              </sequence>
            </sequence>
          </content>
          <exemplum xml:lang="en">
            <egXML xmlns="http://www.tei-c.org/ns/Examples" xml:id="gi-authenticationStmt-egXML-vp">
              <fileDesc>
                <titleStmt>
                  <title>A strong document</title>
                </titleStmt>
                <publicationStmt>
                  <p>Distributed as part of TEI P5</p>
                </publicationStmt>
                <authenticationStmt>
                  <authDesc>
                    <sealDesc><p>Validated by the seal of the Emperor</p></sealDesc>
                  </authDesc>
                  <legalActor><persName ref="https://d-nb.info/gnd/118819097">The Emperor Qín Shǐhuángdì</persName></legalActor>
                  <issued><date>Some fancy chinese dating clause</date></issued>
                </authenticationStmt>
                <sourceDesc>
                  <p>No print source exists: this is an original digital text</p>
                </sourceDesc>
              </fileDesc>
            </egXML>
          </exemplum>
        </elementSpec>
        <elementSpec ident="sealDesc" mode="change">
          <classes mode="change">
            <memberOf key="model.authDescPart"/>
          </classes>
        </elementSpec>
        <elementSpec ident="signed" mode="change">
          <classes mode="change">
            <memberOf key="model.authDescPart"/>
          </classes>
        </elementSpec>
        <elementSpec ident="stamp" mode="change">
          <classes mode="change">
            <memberOf key="model.authDescPart"/>
          </classes>
        </elementSpec>
        <classSpec ident="model.authDescPart" type="model" mode="add">
          <gloss versionDate="2025-09-14" xml:lang="en"></gloss>
          <desc versionDate="2025-09-14" xml:lang="en">Elements that can be used as means of
            authentication of a document.</desc>
          <classes/>
        </classSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
