tei_all_auth.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>TEI added authenticationStmt </title>
        <author>Georg Vogeler, University of Graz</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <p>TEI material can be licensed differently depending on the use you intend to make of it.
            Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
            generally appropriate for usages which treat TEI content as data or documentation. The
            BSD-2 licence is generally appropriate for usage of TEI content in a software
            environment. For further information or clarification, please contact the TEI Consortium
            (info@tei-c.org).</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Written from scratch.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <head>TEI - Documentality</head>
      <p>This TEI customization describes a schema that adds to the <gi>teiHeader</gi> a metadata scheme describing the text as the result of an intention to create a social reality.</p>
      <p>Texts can create social reality. Humans have developed several methods to warrant that they gain trust. These methods for procedural and symoblic authentication include signatures, seals or stamps committing the person represented by this to claim made by the text. This chapter introduces the <specDesc key="authenticationStmt"/> to describe this. The user of this element can include simple prose or use three elements to be more explicit <specList>
        <specDesc key="authDesc"/>
        <specDesc key="issued"/>
        <specDesc key="leaglActor"/>
      </specList>
      The <gi>authDesc</gi> can inlude a systematic description of the individual features used for authentication:
      <specList>
        <specDesc key="authen"/>
        <specDesc key="seal"/>
        <specDesc key="signed"/>
        <specDesc key="stamp"/>
        <specDesc key="watermark"/>
        <specDesc key="xenoData"/>
      </specList>
      </p>
      <div>
        <head>Authentication</head>
        <p>The proposed elements are a consequence of the capacity of language to be performative utterances (J.L. Austin). Birth certificates, ionternational treaties, commercial contracts, land leases, royal diplomas, or imperial decress are concrete examples of this. They gain authority through the trust that text corresponds to the reality. Societies have developed mechanisms of validation that support this trust, reducing the risk of being dismissed as forgeries or drafts. These authentication methods can be recorded as a property of the text encoded according to these guidelines as part of the teiHeader or in a description of a single physical document (<gi>msDesc</gi>) with the element <specDesc key="authenticationStmt"/>.</p>
        <p>The <gi>authenticationStmt</gi> describes material, procedural, symbolic or interpretative authenticity of a document. Any consideration about the relationship between the claim a text makes and reality can be discussed in simple prose.</p>
        <egXML xmlns="http://www.tei-c.org/ns/Examples" xml:lang="lat" source="#Ramble2018">
          <!-- Rājendra Vikrama Śāha. 1846 (VS 1903). A pañjāpatra requesting Cautarīyā Bhīma Vikrama Śāha etc. to return to Kathmandu, herausg./übers. von Rajan Khatiwoda mit Simon Cubelic und Christof Zotter. Heidelberg: HAdW (Documenta Nepalica), 2017 : https://digi.hadw-bw.de/view/dna_0016_0086 -->
          <!-- Ramble 2018, p. 120 -->
          <authenticationStmt>
            <p>The expansion of the use of the thumbprints as signatures on legal
              documents in Mustang is likely to be related to the development of the
              practice in Nepalese legal usage. A spectacular example of a handprint
              being used in an official administrative context is to be seen in plate 3,
              a Nepalese government order, dated 1846 and bearing the handprint of
              King Rajendra Vikram Shah.<note>Edition of the document: Rājendra Vikrama Śāha. 1846 (VS 1903). A pañjāpatra requesting Cautarīyā Bhīma Vikrama Śāha etc. to return to Kathmandu, herausg./übers. von Rajan Khatiwoda mit Simon Cubelic und Christof Zotter. Heidelberg: HAdW (Documenta Nepalica), 2017 : <ptr target="https://digi.hadw-bw.de/view/dna_0016_0086"/></note> In the sense that the print ‘empowers’ the
              document with royal authority, the function is not too far removed from
              the explicitly religious connotations of the endorsement of thangkas by
              lamas mentioned above.</p>
          </authenticationStmt>
        </egXML>
        <p>This chapter suggests further elements dedicated to the core information needed to describe the creation of social reality through the text: 
          <list>
            <item>the method of authentication itself (<specDesc key="authDesc"/>),</item> 
            <item>the social actors committed to claim of the document (<specDesc key="legalActor"/>) and</item>
            <item>The temporal and geographical allocation of the performative utterance of the text (<specDesc key="issued"/>).</item>
          </list></p>
        <div>
          <head>Method of authentication itself (<specDesc key="authDesc"/>)</head>
          <p>A generic <specDesc key="authen"/> elements covers all sorts of authentication methods that can be specified through the <att>type</att>-attribute. For some established methods exist elements used in other contexts: Impressions of a <specDesc key="seal"/> as material object embodying the authority of the issuer, or a <specDesc key="stamp"/> in ink or embossed mark serving as bureaucratic authentication can serve as symbolic record of authenticity. They express the commitment of the author of a document to its content in the same way as signatures (<specDesc key="signed"/>) or autographs do through handwriting. Using fingerprints or individualised symbolic drawings like in the medieval notarial culture add other methods that are linked to an individual.</p>
          <egXML xmlns="http://www.tei-c.org/ns/Examples" xml:lang="lat" source="#XXXX">
            <!-- ToDo: eine besiegelte Notarsurkunde aus MOM? -->
            <authDesc>
              <signed>###TODO###</signed>
              <seal>###TODO###</seal>
            </authDesc>
          </egXML>
          <p>Technical methods of marking authenticity can be a <specDesc key="watermark"/>, as a more or less hidden sign embedded in the writing material or a digital file. In the digital realm all sorts digital certificate exist as cryptographic equivalent of a seal or signature in the digital sphere. Algorithmic authentication, e.g. through a blockchain ledger are a technical infrastructure acting as validators in the digital domain. For this purpose, the description of the authentication can also include non-TEI description of authentication like <ref target="https://www.w3.org/TR/xmldsig-core">W3C recommendation how to use XML for digital signatures</ref>.</p>
          <p>The <att>type</att> of the <gi>authen</gi> element should preferably reference controlled vocabularies, like the <title ref="https://www.cei.lmu.de/VID">Vocabulaire Internationale de la Diplomatique</title>.</p>
          <p>The element includes the possibility to describe the method of authentication in prose in the reflection of the role of ritual performances creating the social object inscribed in a document. Handing over the document, public reading of a document, courtroom verdicts or oaths can be part of the authentication and need verbal description to record them.</p>
          <egXML xmlns="http://www.tei-c.org/ns/Examples" xml:lang="lat" source="#XXXX">
            <authDesc><p>###TODO###</p></authDesc>
          </egXML>
        </div>
        <div>
          <head>Social actors committed to claim of the document (<specDesc key="legalActor"/>)</head>
          <p>Several persons, groups, and institutions can issue the authority of the document. Grantors, donors, sovereigns, magistrate, or in general the <term>issuer</term>of a document are authors of the perforamtive text. They produces the document and claims authority behind it, give a privilege or property, or are the  political or legal authorities whose will the document embodies. Chanceries, i.e. specialized office in royal or ecclesiastical administrations responsible for drafting and issuing charters and diplomas, notaries as legally empowered scribe or official who writes and validates documents in civic and ecclesiastical contexts or the individual scribe physically writing the text, often trained in distinctive scripts signaling authenticity guarantee procedural authenticity.</p>
          <p>Legal actors can be mediating: Witnesses attest to the truth and legality of the act. Counter-signer add a second signature to strengthen trust in the first. Seal bearer charged with affixing and safeguarding the seal, which authenticates the document, the bureaucrats keeping official registers, against which copies can be checked, custodians and archivist are responsible for preserving and controlling access to the document.</p>
          <p>In more contemporary environments, specialised registrars of vital statistics certify births, deaths, or marriages. The insitutions of a notary public ensures the authenticity of signatures and transactions. Auditors check the correctness of documents within bureaucratic or financial systems. In digital environments Certification Authorities issue digital certificates that are used to signed documents.</p>
          <p>On the side of recipients and users, beneficiaries and grantees are legal actors involved as they receive rights or recognition through the document. A petitioner requests a document or privilege and profits from them. Documents become social reality through an the formal audience named in the document that can be the general public, that, as a community can acknowledge the document’s authority (e.g., through ceremonial reading).</p>
          <p>These roles can be assigned through the <att>type</att> attribute of the <gi>legalActor</gi> element and identified through the naming mechanisms provided by these guidelines. It is recommended to use shared vocabularies for these role, e.g. through the <title ref="https://www.cei.lmu.de/VID">Vocabulare Internationale de la Diplomatique</title>.</p>
          <egXML xmlns="http://www.tei-c.org/ns/Examples" xml:lang="lat" source="#MonTibetHistIII.8">
            <legalActor type="https://www.cei.lmu.de/VID/#16"><persName xml:lang="Hant">元順<rolename>帝</rolename></persName>
              <persName xml:lang="en"><roleName>Emperor</roleName> Toyon Temür</persName></legalActor>
          </egXML>
        </div>
        <div>
          <head>The temporal and geographical allocation of the performative utterance of the text (<specDesc key="issued"/>)</head>
          <p>Time and place of the preformative act can describe jurisdiction and gives starting points to the claim of the text. </p>
          <egXML xmlns="http://www.tei-c.org/ns/Examples" xml:lang="lat" source="#XXXX">
            <issued>
              <placeName>###TODO###</placeName>
              <date>###TODO###</date>
            </issued>
          </egXML>
        </div>
      </div>
      <div>
        <head>Specifications</head>
        <schemaSpec ident="tei_all_auth" start="TEI teiCorpus" prefix="auth_" targetLang="en"
        docLang="en">
        <moduleRef n="01" key="tei"/>
        <moduleRef n="02" key="header"/>
        <moduleRef n="03" key="core"/>
        <moduleRef n="04" key="textstructure"/>
        <!--<moduleRef n="05" key="gaiji"/>
        <moduleRef n="06" key="verse"/>
        <moduleRef n="07" key="drama"/>
        <moduleRef n="08" key="spoken"/>
        <moduleRef n="09" key="cmc"/>
        <moduleRef n="18" key="analysis"/>
        <moduleRef n="10" key="dictionaries"/>
        <moduleRef n="11" key="msdescription"/>
        <moduleRef n="12" key="transcr"/>
        <moduleRef n="13" key="textcrit"/>
        <moduleRef n="14" key="namesdates"/>
        <moduleRef n="15" key="figures"/>
        <moduleRef n="16" key="corpus"/>
        <moduleRef n="17" key="linking"/>
        <moduleRef n="19" key="iso-fs"/>
        <moduleRef n="20" key="nets"/>
        <moduleRef n="22" key="certainty"/>
        <moduleRef n="23" key="tagdocs"/>-->
          
        <moduleRef key="msdescription"/>
        <moduleRef key="namesdates" include="placeName persName"/>
        <elementSpec ident="msDesc" mode="change">
          <content>
            <sequence maxOccurs="1" minOccurs="1">
              <elementRef key="msIdentifier"/>
              <classRef key="model.headLike"/>
              <alternate maxOccurs="1" minOccurs="1">
                <classRef key="model.pLike"/>
                <alternate maxOccurs="unbounded" minOccurs="0">
                  <elementRef key="msContents"/>
                  <elementRef key="authenticationStmt"/>
                  <elementRef key="physDesc"/>
                  <elementRef key="history"/>
                  <elementRef key="additional"/>
                  <elementRef key="msPart"/>
                  <elementRef key="msFrag"/>
                </alternate>
              </alternate>
            </sequence>
          </content>
        </elementSpec>
        <elementSpec ident="fileDesc" mode="change">
          <content>
            <sequence maxOccurs="1" minOccurs="1">
              <sequence maxOccurs="1" minOccurs="1">
                <elementRef key="titleStmt"/>
                <elementRef key="editionStmt"/>
                <elementRef key="extent"/>
                <elementRef key="publicationStmt"/>
                <elementRef key="authenticationStmt"/>
                <elementRef key="seriesStmt"/>
                <elementRef key="notesStmt"/>
              </sequence>
              <elementRef key="sourceDesc"/>
            </sequence>
          </content>
        </elementSpec>
        <elementSpec ident="authenDesc" ns="http://www.cei.lmu.de/tei/tei_auth" mode="add"
          module="header">
          <desc versionDate="2025-09-13" xml:lang="en">The element <gi>authenDesc</gi> describes the method by which the document is validates / authenticated.</desc>
          <classes>
            <memberOf key="att.global"/>
          </classes>
          <content>
            <alternate>
              <classRef key="model.authDescPart"
                  minOccurs="0" maxOccurs="unbounded"/>
              <classRef key="model.pLike" minOccurs="1"
                maxOccurs="unbounded"/>
            </alternate>
          </content>
        </elementSpec>
        <elementSpec ident="legalActor" ns="http://www.cei.lmu.de/tei/tei_auth" mode="add"
          module="header">
          <desc versionDate="2025-09-13" xml:lang="en">Legal actors are those persons and institutions that are committed to the social reality created by a documnet. This can be notaries validating a text, legal parties of the act described in the text, witnesses to the legal act etc.</desc>
          <classes>
            <memberOf key="att.global"/>
          </classes>
          <content>
            <alternate minOccurs="1" maxOccurs="unbounded">
              <classRef key="model.pLike"/>
              <classRef key="model.nameLike.agent"/>
              <classRef key="model.publicationStmtPart.agency"/>
              <textNode/>
            </alternate>
          </content>
        </elementSpec>
        <elementSpec ident="issued" ns="http://www.cei.lmu.de/tei/tei_auth" mode="add"
          module="header">
          <desc versionDate="2025-09-13" xml:lang="en">Date and place on which a document was made official, and by this the social reality describe in it becomes existent.</desc>
          <classes>
            <memberOf key="att.global"/>
          </classes>
          <content>
            <alternate minOccurs="1" maxOccurs="unbounded">
              <classRef key="model.pLike"/>
              <classRef key="model.dateLike"/>
              <classRef key="model.placeLike"/>
              <textNode/>
            </alternate>
          </content>
        </elementSpec>
        <elementSpec ident="authen" ns="http://www.cei.lmu.de/tei/tei_auth" mode="add"
          module="header">
          <desc versionDate="2025-09-13" xml:lang="en">Any kind of authentication method.</desc>
          <classes>
            <memberOf key="att.global"/>
            <memberOf key="att.typed"/>
          </classes>
          <content>
            <alternate minOccurs="1" maxOccurs="unbounded">
              <classRef key="model.pLike"/>
              <textNode/>
            </alternate>
          </content>
          <remarks><p>Several elements in the TEI can have the function of a means of authentication, like a <gi>seal</gi>, a signature (<gi>signed</gi>) or a <gi>stamp</gi>. The <gi>authen</gi> element is considered an generalisation of these elements for authentication practices not covered with dedicated elements.</p></remarks>
        </elementSpec>
        <elementSpec ident="authenticationStmt" ns="http://www.cei.lmu.de/tei/tei_auth" mode="add"
          module="header">
          <gloss versionDate="2025-09-13" xml:lang="en">file description</gloss>
          <desc versionDate="2025-09-13" xml:lang="en"><gi>authenticationStmt</gi> describes the status of the text
            as as a document creating social reality through a formalized act of inscription.</desc>
          <classes>
            <memberOf key="att.global"/>
          </classes>
          <content>
            <sequence maxOccurs="1" minOccurs="1">
              <elementRef key="authDesc"/>
              <elementRef key="legalActor"/>
              <elementRef key="issued"/>
            </sequence>
          </content>
          <exemplum xml:lang="en" >
            <egXML xmlns="http://www.tei-c.org/ns/Examples" xml:id="gi-authenticationStmt-egXML-vp"  xml:lang="lat" source="#XXXX">
              <fileDesc>
                <titleStmt>
                  <title>A strong document</title>
                </titleStmt>
                <publicationStmt>
                  <p>Distributed as part of TEI P5</p>
                </publicationStmt>
                <authenticationStmt>
                  <authDesc>
                    <sealDesc><p>Validated by the seal of the Emperor</p></sealDesc>
                  </authDesc>
                  <legalActor><persName ref="https://d-nb.info/gnd/118819097">The Emperor Qín Shǐhuángdì</persName></legalActor>
                  <issued><date>###Some fancy chinese dating clause###</date></issued>
                </authenticationStmt>
              </fileDesc>
            </egXML>
          </exemplum>
        </elementSpec>
        <elementSpec ident="seal" mode="change">
          <classes mode="change">
            <memberOf key="model.authDescPart"/>
          </classes>
        </elementSpec>
        <elementSpec ident="watermark" mode="change">
          <classes mode="change">
            <memberOf key="model.authDescPart"/>
          </classes>
        </elementSpec>
        <elementSpec ident="signed" mode="change">
          <classes mode="change">
            <memberOf key="model.authDescPart"/>
          </classes>
        </elementSpec>
        <elementSpec ident="stamp" mode="change">
          <classes mode="change">
            <memberOf key="model.authDescPart"/>
          </classes>
        </elementSpec>
        <elementSpec ident="xenoData" mode="change">
          <classes mode="change">
            <memberOf key="model.authDescPart"/>
          </classes>
        </elementSpec>
        <classSpec ident="model.authDescPart" type="model" mode="add">
          <gloss versionDate="2025-09-14" xml:lang="en"></gloss>
          <desc versionDate="2025-09-14" xml:lang="en">Elements that can be used as means of
            authentication of a document.</desc>
          <classes/>
        </classSpec>
      </schemaSpec>
      </div>
    </body>
    <back>
      <listBibl>
        <bibl xml:id="Ramble2018">Ramble, Charles: Producing ‘South Asian’ Tibetan Documents in Highland Nepal, 19th to 20th Centuries: The Emergence and Disappearance of a Local Diplomatic Tradition, in Cubelic, Simon, Michaels, Axel and Zotter, Astrid (eds.): Studies in Historical Documents from Nepal and India, Heidelberg: Heidelberg University Publishing, 2018 (Documenta Nepalica: Book Series, Band 1), p. 111–133. DOI:10.17885/heiup.331.c4130</bibl>
        <bibl xml:id="MonTibetHistIII.8">Diplomata Mongolica. - Herrscherurkunden aus der Zeit des mong. Großreiches für tib. Adelshäuser, Geistliche &amp; Klöster. Mittelmongolische Urkunden in ‘Phags pa-Schrift. Edition, Übersetzung, Analyse. (Middle Mongolian documents in 'Phags pa script, issued to Tibetan addressees) ed. by Karl-Heinz Everding. International Institute for Tibetan and Buddhist Studies, Halle 2006 (Monumenta Tibetica historica III,8).</bibl>
      </listBibl>
    </back>
  </text>
</TEI>
